In [81]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('sc2-matches-history.csv')

In [15]:
k = data.head(5)
k['player_1_match_status']

0     [loser]
1    [winner]
2     [loser]
3     [loser]
4     [loser]
Name: player_1_match_status, dtype: object

In [ ]:
len(data['player_1'].unique())

In [84]:
data['p1_win'] = np.where(data['player_1_match_status'] == '[winner]', 1, 0)

In [126]:
agg = data.groupby(["player_1"])["p1_win"].mean().reset_index()
agg['count'] = data.groupby(["player_1"])["p1_win"].count().reset_index()['p1_win']
top_players = list(agg.query('count >= 1500')['player_1'])

In [127]:
top_players

['Beastyqt',
 'Bly',
 'DIMAGA',
 'DemiLove',
 'Elazer',
 'GoOdy',
 'GuMiho',
 'HyuN',
 'Kas',
 'KeeN',
 'Lillekanin',
 'MaNa',
 'Nerchio',
 'Snute',
 'Tefel',
 'aLive']

In [ ]:
data['p1_win'] =

In [20]:
wins = data.query('player_1_match_status == "[winner]"')
loss = data.query('player_1_match_status == "[loser]"')

In [70]:
gp = data.groupby(['player_1', 'player_1_match_status'])['player_1'].count()
gp = gp.to_frame()

SyntaxError: invalid syntax (<unknown>, line 1)

In [78]:
gp[0:3]

                                player_1
player_1 player_1_match_status
ABomB    [loser]                      66
         [winner]                     57
AK       [loser]                     133